@font-face {
    font-family: catamaran;
    src: url("./Assets/Fonts/Catamaran.ttf");
}
@font-face {
    font-family: ysabeauInfant;
    src: url("./Assets/Fonts/YsabeauInfant-Italic.ttf");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.5rem;
}

:root{
    font-size: 16px;
    font-family: catamaran;
    background-color: black;
    color: white;
}

ul{
    list-style-type: none;
}

#content{
    height: 100vh;
    width: 100vw;
    max-width: 100%;
}

#sidebar{
    position: fixed;
    height: 100%;
    width: 20vw;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
}

.nav-options{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.nav-options>li{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 2rem;
    border-bottom: 1px solid white;
    padding-bottom: 0.5rem;
}

#logo{
    font-size: 3.5rem;
    font-family: ysabeauInfant;
    height: 100px;
    border: none;
}

#profile{
    font-size: 2.5rem;
}

img.profile-image{
    height: 3rem;
    width: auto;
    border-radius: 5px;
}

.create-options{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    padding-bottom: 3rem;
}

.create-options>li{
    width: 16vw;
    padding: 0.25rem 2rem;
    background-color: #323232;
    border-radius: 4px;
}


/* Main Content */

#main-content{
    margin-left: 20vw;
    min-height: 100%;
    padding: 1rem;
    border-left: 2px solid white;
}

#main-content.blur-filter{
    filter: blur(2px);
    opacity: 0.6;
}

#current-section{
    font-size: 3rem;
    padding: 0.5rem;
    padding-left: 0;
    border-bottom: 1px solid white;
}


#main-content .title{
    border-bottom: 1px solid white;
    font-size: 2.5rem;
    padding-top: 2rem;
}


#recent-projects ul,
#all-projects ul{
    padding-top: 1rem;
    padding-bottom: 1rem;
    gap: 1.5rem;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-items: center;
}


#recent-notes ul,
#all-notes ul{
    padding-top: 1rem;
    padding-bottom: 1rem;
    gap: 1.5rem;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
}

.project{
    height: 14rem;
    width: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 0.5rem;
    padding-bottom: 0.5rem;
    color: black;
    border: 1px solid #888;
}

.project>.first-div{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.project .name{
    font-size: 3rem;
    padding: 0;
    margin: 0;
}

progress{
    accent-color: #28C8DC;
}

.project>.due-date{
    display: flex;
    align-items: center;
    gap: 8px;
}

.project .priority{
    background-color: #EA8C80;
    font-size: 1.2rem;
    padding: 0rem 2rem;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-radius: 0 6px 0 10px;
}

.project .priority.Low{
    background-color: #8EF30C;
}

.project .priority.Medium{
    background-color: #F4E70B;
}

.project ,.priority.Urgent{
    background-color: #EA8C80;
}

.project .edit-options{
    padding-right: 1rem;
    padding-bottom: 0.5rem;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    align-items: center;
}

.note{
    height: 14rem;
    width: 100%;
    border: 1px solid #bbb;
    border-radius: 10px;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    background-color: #323232;
}

.note>.first-div{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.note .name{
    font-size: 3rem;
    padding: 0;
    margin: 0;
}

.note>.due-date{
    display: flex;
    align-items: center;
    gap: 8px;
}

.note .priority{
    background-color: #EA8C80;
    color: black;
    font-size: 1.2rem;
    padding: 0rem 2rem;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    border-radius: 0 6px 0 10px;
}

.note .edit-options{
    padding-right: 1rem;
    padding-bottom: 0.5rem;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    align-items: center;
}

#recent-projects ul li:nth-child(4n),
#all-projects ul li:nth-child(4n){
    background-color: #FFAB91;
}

#recent-projects ul li:nth-child(4n+1),
#all-projects ul li:nth-child(4n+1){
    background-color: #80DEEA;
}

#recent-projects ul li:nth-child(4n+2),
#all-projects ul li:nth-child(4n+2){
    background-color: #CF93D9;
}

#recent-projects ul li:nth-child(4n+3),
#all-projects ul li:nth-child(4n+3){
    background-color: #FFCC80;
}

#all-notes ul li:nth-child(4n),
#recent-notes ul li:nth-child(4n){
    border: 2px solid #FFAB91;
}

#all-notes ul li:nth-child(4n+1),
#recent-notes ul li:nth-child(4n+1){
    border: 2px solid #80DEEA;
}

#all-notes ul li:nth-child(4n+2),
#recent-notes ul li:nth-child(4n+2){
    border: 2px solid #CF93D9;
}

#all-notes ul li:nth-child(4n+3),
#recent-notes ul li:nth-child(4n+3){
    border: 2px solid #FFCC80;
}

.active-project.project{
    background-color: #80DEEA;


}

.active-project.project #edit-option-delete{
    margin-left: auto;
    padding-right: 1rem;
}
#recent-projects.hidden,
#recent-notes.hidden,
#all-projects.hidden,
#all-notes.hidden,
#new-task-form.hidden,
#create-note.hidden,
#create-project.hidden{
    display: none;
}





#new-task-form{
    position: fixed;
    top: 12rem;
    left: 58rem;
}


#task-form{
    background-color: #888;
    width: 22vw;
    padding: 1rem;
    border:  1px solid #eee;
    border-radius: 3px;
}

.new-task-list>li{
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}

.priority-options>li>label{
    font-size: 1.75rem;
}

label{
    width: 100%;
    font-size: 2rem;
    color: #111;
}

input,
textarea{
    padding: 0.25rem;
    border: 1px solid black;
    border-radius: 2px;
    font-family: catamaran;
}

textarea{
    max-width: 100%;
}

#task-form>ul>#buttons{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
}

button{
    padding: 0.25rem 2rem;
    border: 1px solid black;
    border-radius: 2px;
}

#task-cancel{
    background-color: white;
}

#task-submit{
    background-color: rgb(0, 187, 255);
}








img.icon{
    height: 2rem;
    width: auto;
}

img.icon-bigger{
    height: 2.5rem;
    width: auto;
}


/* 
.new-options ul{
    padding: 1rem;
    padding-left: 0;
    height: auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    justify-items: center;
}

.new-options ul li{
    height: 180px;
    width: 240px;
    border: 1px solid #bbb;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.new-options ul li:nth-child(odd){
    background-color: #FFCC80;
}

.new-options ul li:nth-child(even){
    background-color: #FFAB91;
}

.new-options ul li img{
    height: 160px;
    width: auto;
} */